body {
    font-family: Arial, sans-serif;
    background: #f0dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: rgb(122, 186, 226);
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #007bff;
    color: rgb(250, 248, 249);
    border: none;
    cursor: pointer;
}

button:hover {
    background: #b3005a;
}